.skill {
    width: 500px;
    margin: 30px;
}
.bar {
   
   
    height: 20px;
    background: #eee;
    border-radius: 30px;
    position: relative;
    overflow: visible;
}

.fill {
    height: 100%;
    border-radius: 30px;
    position: relative;

}

.red {
    width: 90%;
    background: red;
}

.green {
    width: 50%;
    background: green;
}

.yellow {
    width: 80%;
    background: yellow;
}

.blue {
    width: 65%;
    background: blue;
}

.fill::after {

}



