
.box {
    width: 150px;
    height: 150px;
    background: red;
    /* border-radius: 50%; */
    margin: 100px;
    transition: 0.5s;
}



.box:hover {
    /* transform: translate(100px,50px); */
    /* transform: translateY(-100px); */
    /* transform: translateX(-100px); */

    /* transform: rotate(-45deg); */

    /* transform: scaleX(2); */
    /* transform: scaleY(2); */

    /* transform: rotate3d(0,0,1,80deg); */

    /* transform: skewY(45deg); */

    /* transform: skew(20deg,10deg); */

    transform: matrix(1,0.5,0.5,1,50,20);
    transform: matrix3d();




}

/* matrix (
    scaleX(),
    scaleY(),
    skewX()
    skewY()
    translate(100px,50px)
) */

